{% extends "webpage/base.html" %}
{% load static %}
{% load django_tables2 %}
{% load browsing_extras %}
{% load crispy_forms_field %}
{% load crispy_forms_tags %}
{% block title %} 
    Browse 
    {% if class_name == "Wab" %}
        {{ class_name|upper }} 
    {% elif class_name == "Skos Concept" %}
        Schlagwort
    {% else %}
        {{ class_name }}
    {% endif %}
{% endblock %}
{% block scriptHeader %}

{% endblock %}
{% block content %}

    <script type="text/javascript">
    $(document).ready(function() {
        var fetchedParameter = "{{ table.page.number }}";
        $("#goto option").each(function() {
            if($(this).text() == fetchedParameter) {
                $(this).attr('selected', 'selected');
            }
        });
    });
    </script>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h3 style="margin-bottom:15px;">
                            {% if class_name == "Wab" %}
                            Suche 
                                <span style="text-transform:uppercase;">
                                    {% class_definition %}
                                </span> 
                            {% elif class_name == "Skos Concept" %}
                                Suche Schlagwort
                            {% else %}
                            Suche {% class_definition %}
                            {% endif %}
                            {% block list_title %}{% endblock %}
                        </h3>
                        {% if user.is_authenticated %}
                            {% if create_view_link  %}
                                <a class ="btn btn-outline-secondary"  href="{{ create_view_link }}
                                ">
                                {% if class_name == "Skos Concept" %}
                                    Neues Schlagwort erstellen
                                {% else %}
                                    Neue {{ class_name }} erstellen
                                {% endif %}
                                </a>
                            {% endif %}
                        {% endif %}
                        {% block customView %}{% endblock %}
                        {% block create_button %}{% endblock %}
                        <!--Search mask-->
                        {% load django_tables2 crispy_forms_tags %}
                        <form action="." class="uniForm" method="get">
                            {% if togglable_colums %}
                            <div class="row">
                                <div class="col-md-6">
                                    Weitere Spalten zur Anzeige in der rechten Tabelle auswählen:
                                </div>
                                <div class="col-md-6">
                                    {% column_selector  %}
                                </div>
                                
                            </div>
                                
                            {% endif %}
                            <br/>
                            {% crispy filter.form filter.form.helper %}
                        </form>
                        <a class ="btn btn-outline-secondary"  href=".">Suche zurücksetzen</a>
                        {% include 'browsing/partials/chart_form.html' %}
                </div>
            </div>
            </div>
            <div class="col-md-8" id="results">
                <div class="card">
                    <div class="card-body table-responsive">
                        {% with table.paginator.count as total %}
                            <legend>Alle Treffer: {{ total }}</legend>
                        {% endwith %}
                        {% include 'browsing/partials/download_menu.html' %}
                        {% block table %}
                        {% include 'browsing/partials/table.html' %}
                        {% endblock table %}
                        {% block pagination.allpages %}
                        {% include 'browsing/partials/pagination.html' %}
                        {% endblock pagination.allpages %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts2 %}
    <script src="{% static 'browsing/js/set-form-attributes.js' %}"></script>
    <script src="{% static 'browsing/js/filter-for-blank-fields.js' %}"></script>

    <!-- Remove "Note" and "Status" columns from selectable columns if user not authenticated -->
    {% if user.is_authenticated %}
    {% else %}
        <script>
            const selector = Array.prototype.slice.call(document.getElementById('column_selector').options, 0);
            for (let i = 0; i < selector.length; ++i) {
                if (selector[i].text === 'Status' || selector[i].text === 'Note') {
                selector[i].remove(); 
                }
            }
        </script>
    {% endif %}
    <!-- Makes sure that "icontains" (enthält) is set as initial value for lookup filters -->
    <script>
        const lookUps = document.getElementsByClassName('select form-control custom-select');
        for (lookUp in lookUps) {
            const options = Array.prototype.slice.call(lookUps[lookUp].options, 0);
            console.log(options)
            for (let i = 0; i < options.length; ++i) {
                if (options[i].text === '---------') {
                    options[i].remove(); 
                }
            }
        }
    </script>
{% endblock scripts2 %}