{% extends "webpage/base.html" %}
{% load static %}
{% load webpage_extras %}
{% block title %}{{ object }}{% endblock %}
{% block content %}
<!-- <div class="container"> -->
<div class="card w-100">
  <div class="card-header">
    <div class="row">
      <div class="col-md-2">
        {% if object.get_prev %}
        <h2>
          <a href="{{ object.get_prev }}" title="previous">
            <i data-feather="chevron-left"></i>
          </a>
        </h2>
        {% endif %}
      </div>
      <div class="col-md-8">
        <h2 style="text-align: center;">
          <small><a href="{{ object.get_listview_url }}" title="Zurück zur Suche"><small>zurück</small></a></small>
          {{ object.date_written }}
          {% if user.is_authenticated %}
            <a href="{{ object.get_edit_url }}" title="edit">
              <i data-feather="edit"></i>
            </a>
          {% endif %}
          {% if 'archeutils' in APPS %}
          <a href="{% url 'archeutils:res_as_arche_graph' app_name=app_name model_name=class_name|lower pk=object.id %}" title="As ARCHE-RDF">
            <i data-feather="download"></i>
          </a>
          {% endif%}
        </h2>
      </div>
      <div class="col-md-2">
        <h2>
          {% if object.get_next %}
          <a href="{{ object.get_next }}" style="float:right" title="next">
            <i data-feather="chevron-right"></i>
          </a>
        </h2>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="card-body">
    {% block custom %}
    <div class="row">
        <div class="col-md-7">
            <div class="card">
              <div class="card-body" style="font-size: larger;">
                {{ object.main_text|safe }}
              </div>
              <div class="card-footer">
                  {% if object.notes_lit %}
                    <small>Literatur</small>
                    <div class="notes_lit">
                      {{ object.notes_lit|safe }}
                    </div>
                  {% endif %}
                  {% if object.notes_img %}
                    <small>Abbildung</small>
                    <div class="notes_img">
                      {{ object.notes_img|safe }}
                    </div>
                  {% endif %}
                  {% if object.notes_facs %}
                    <small>Faksimile</small>
                    <div class="notes_facs">
                      {{ object.notes_facs|safe }}
                    </div>
                  {% endif %}
                  {% if object.notes_archive %}
                    <small>Archiv</small>
                    <div class="notes_archive">
                      {{ object.notes_archive|safe }}
                    </div>
                  {% endif %}
                  {% if object.notes_text %}
                    <small>Anmerkung</small>
                    <div class="notes_text">
                      {{ object.notes_text|safe }}
                    </div>
                  {% endif %}
                  {% if object.note %}
                    <small>Anmerkung (intern)</small>
                    <div class="note">
                      {{ object.note|safe }}
                    </div>
                  {% endif %}
                  {% if object.work %}
                    <small>Bibliographie</small>
                    <div class="bibliograhpie">
                      <ul>
                        {% for x in object.work.all %}
                        <li>{{ x }} <a href="{% url 'archiv:event_browse' %}?work={{ x.id }}&Filter=Search" title="zeige weitere Ereignisse zu dieser Referenz">
                          <i data-feather="link"></i>
                        </a></li>
                        {% endfor %}
                      </ul>
                    </div>
                  {% endif %}
                </ul>
              </div>
            </div>
        </div>
        <div class="col-md-5">
          <legend>Bruckner Werke (WAB)</legend>
          <ul>
            {% for x in object.wab.all %}
              <li><a href="{{ x.get_absolute_url }}">{{ x }}</a></li>
            {% endfor %}
          </ul>
          <legend>Personen</legend>
          <ul>
            {% for x in object.person.all %}
              <li><a href="{{ x.get_absolute_url }}">{{ x }}</a></li>
            {% endfor %}
          </ul>
          <legend>Orte</legend>
          <ul>
            {% for x in object.place.all %}
              <li><a href="{{ x.get_absolute_url }}">{{ x }}</a></li>
            {% endfor %}
          </ul>
          <legend>Schlagworte</legend>
          <ul>
            {% for x in object.key_word.all %}
              <li><a href="{% url 'archiv:event_browse' %}?key_word={{ x.id }}&Filter=Search">{{ x }}</a></li>
            {% endfor %}
          </ul>
      </div>

    </div>
    {% if user.is_authenticated %}
    <div class="card-footer" style="text-align: right;">
      <a href="{{ object.get_delete_url }}" title="delete">
        <i data-feather="delete"></i>
      </a>
    </div>
    {% endif %}

  </div>
</div>
{% endblock custom %}
{% endblock %}