{% extends "webpage/base.html" %}
{% load static %}
{% load webpage_extras %}
{% block title %}{{ object }}{% endblock %}
{% block content %}
<!-- <div class="container"> -->
<div class="card w-100">
  <div class="card-header" style="margin-right: calc(-1 * (100vw - 100.5%));">
    <div class="row">
      <div class="col-md-2">
        {% if object.get_prev %}
        <h2>
          <a href="{{ object.get_prev }}" title="previous">
            <i data-feather="chevron-left"></i>
          </a>
        </h2>
        {% endif %}
      </div>
      <div class="col-md-8">
        <h2 style="text-align: center;">
          <small><a href="{{ object.get_listview_url }}" title="Zurück zur Suche"><small>{{ class_name }}</small></a></small>
          {{ object }}
          {% if user.is_authenticated %}
            <a href="{{ object.get_edit_url }}" title="edit">
              <i data-feather="edit"></i>
            </a>
          {% endif %}
          {% if 'archeutils' in APPS %}
          <a href="{% url 'archeutils:res_as_arche_graph' app_name=app_name model_name=class_name|lower pk=object.id %}" title="As ARCHE-RDF">
            <i data-feather="download"></i>
          </a>
          {% endif%}
        </h2>
      </div>
      <div class="col-md-2">
        <h2>
          {% if object.get_next %}
          <a href="{{ object.get_next }}" style="float:right" title="next">
            <i data-feather="chevron-right"></i>
          </a>
        </h2>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="card-body" style="padding-left:8em; padding-right: 8em;">
    {% block custom %}
    <div class="row">
        <div class="col-md-8">
           <legend>erwähnt in Ereignissen:</legend>
           {% for x in object.rvn_person_mentioned_in.all %}
           <li>
             <a href="{{ x.get_absolute_url }}">{{ x.date_written }}</a>
           </li>
           {% endfor %}
        </div>
        <div class="col-md-4">
          <legend>Normdaten</legend>
          <ul>
            {% if object.gnd_gnd_id %}
            <li><a href="{{ object.gnd_gnd_id}}">{{ object.gnd_gnd_id }}</a></li>
            {% endif %}
            {% if object.oeml_uri %}
            <li><a href="{{ object.oeml_uri}}">{{ object.oeml_uri }}</a></li>
            {% endif %}
            {% if object.ablo_uri %}
            <li><a href="{{ object.ablo_uri}}">{{ object.ablo_uri }}</a></li>
            {% endif %}
          </ul>
          {% if object.remarks %}
          <legend>Anmerkungen</legend>
          <div class="remarks">
            {{ object.remarks|safe }}
          </div>
          {% endif %}
      </div>
      <div class="card-footer">
        {% if object.notes_lit %}
        <b>Literatur</b>
        <div class="notes_lit">
          {{ object.notes_lit|safe }}
        </div>
        {% endif %}
        {% if object.notes_img %}
        <b>Abbildung</b>
        <div class="notes_img">
          {{ object.notes_img|safe }}
        </div>
        {% endif %}
        {% if object.notes_facs %}
        <b>Faksimile</b>
        <div class="notes_facs">
          {{ object.notes_facs|safe }}
        </div>
        {% endif %}
        {% if object.notes_archive %}
        <b>Archiv</b>
        <div class="notes_archive">
          {{ object.notes_archive|safe }}
        </div>
        {% endif %}
        {% if object.notes_text %}
        <b>Anmerkung</b>
        <div class="notes_text">
          {{ object.notes_text|safe }}
        </div>
        {% endif %}
        {% if object.work.all %}
        <b>Bibliographie</b>
        <div class="bibliograhpie">
          <ul>
            {% for x in object.work.all %}
            <li>
              <a href="{{ x.get_absolute_url }}">
                {{ x|safe }}                    
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
        </ul>
      </div>
      <small>letzte Änderung: {{ object.updated_at|date:"M d, Y, G:H" }}</small>
    </div>
    {% if user.is_authenticated %}
    <div class="card-footer" style="text-align: right;">
      <a href="{{ object.get_delete_url }}" title="delete">
        <i data-feather="delete"></i>
      </a>
    </div>
    {% endif %}

  </div>
</div>
{% endblock custom %}
{% endblock %}