<div class="col-md-12 mx-auto">
  <form method="get" action="{% url 'webpage:results' %}" style="margin: 2em">
    <div class="form-row">
      <div class="col-md-9">
        <input type="search" class="form-control form-control-lg" placeholder="z.B. 'Te deum'" required name="ft_search"
          {% if query_string %} value="{{ query_string }}" {% endif %} autofocus>
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-block btn-lg btn-primary"
          style="background-color:#918f8f; border-color:#918f8f;">Los!</button>
      </div>
      <div class="col-md-1" data-toggle="modal" data-target="#exampleModal">
        <i class="bi bi-info-square" style="font-size: 3rem; color: #918f8f; display:flex; cursor: pointer;"></i>
      </div>
    </div>
  </form>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true" style="color: black">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Informationen zur Suche</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align: justify;">
        <p>
          Mit dieser Suche können die Felder <em>Haupttext</em> sowie die diversen Anmerkungsfelder der Ereignisse gemeinsam durchsucht werden. Um die Suche leistungsfähig zu halten, wurden die entsprechenden Felder indexiert. Für diesen Index werden die einzelnen Texte normalisiert auf ihre Stammformen zurückgeführt. Dies trifft auch auf den eingegebenen Suchbegriff zu. Ein solcher Suchindex erlaubt außerdem komplexere Suchanfragen wie beispielsweise:
        <ul>
          <li>Phrasensuche: Begriffe in Anführungszeichen werden gemeinsam gesucht: "Richard Wagner".
          </li>
          <li><em>Richard Wagner</em> findet alle Dokumente in denen entweder Richard oder Wagner vorkommen</li>
          <li><em>Richard Wagner</em> findet alle Dokumente, in denen entweder <em>Richard</em> oder <emph>Wagner</emph> vorkommen.</li>
          <li>Mit einem <em>„-“</em> vor einem Suchbegriff können Wörter ausgeschlossen werden. Ein Beispiel: <em>„Richard Wagner“ -Verein</em> findet alle Einträge mit <em>„Richard Wagner“</em> aber ohne <em>Verein</em>.</li>
          <li>Ein <em>*</em> am Ende eines Suchbegriffes dient als Wildcard. <em>Kracko*</em> findet etwa Einträge mit Krackowitzer als auch Krackowizer.</li>
        </ul>
        <em>Ungültige Suchanfragen</em> geben aus technischen Gründen das ungefilterte Datenset zurück.
        </p>
        <p>Differenzierte Suchanfragen, wie etwa die Suche in Ereignissen, die mit ausgewählten Personen, Werken oder Literatur verknüpft sind, sind mit der <a href="{%url 'archiv:event_browse' %}"><em>Erweiterten Suche</em></a> möglich.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
      </div>
    </div>
  </div>
</div>