{% extends "webpage/base.html" %}
{% load static %}
{% load webpage_extras %}
{% block title %}{{ object }}{% endblock %}
{% block content %}
<!-- <div class="container"> -->
<div class="card w-100">
  <div class="card-header" style="margin-right: calc(-1 * (100vw - 100.5%));">
    <div class="row">
      <div class="col-md-2">
        {% if object.get_prev %}
        <h2>
          <a href="{{ object.get_prev }}" title="previous">
            <i data-feather="chevron-left"></i>
          </a>
        </h2>
        {% endif %}
      </div>
      <div class="col-md-8">
        <h2 style="text-align: center;">
          <small><a href="{{ object.get_listview_url }}" title="Zurück zur Suche"><small>{{ class_name }}</small></a></small>
          {{ object }}
          {% if user.is_authenticated %}
            <a href="{{ object.get_edit_url }}" title="edit">
              <i data-feather="edit"></i>
            </a>
          {% endif %}
          {% if 'archeutils' in APPS %}
          <a href="{% url 'archeutils:res_as_arche_graph' app_name=app_name model_name=class_name|lower pk=object.id %}" title="As ARCHE-RDF">
            <i data-feather="download"></i>
          </a>
          {% endif%}
        </h2>
      </div>
      <div class="col-md-2">
        <h2>
          {% if object.get_next %}
          <a href="{{ object.get_next }}" style="float:right" title="next">
            <i data-feather="chevron-right"></i>
          </a>
        </h2>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="card-body" style="padding-left:8em; padding-right: 8em;">
    {% block custom %}
    <div class="row">
      <div class="col-md-8">
        <legend>Informationen</legend>
          <big>WAB Nummer: <strong>{{ object.wab_id }}</strong></big>
          <div class="wab_id">
            <a href="http://www.bruckner-online.at/wab-{{object.wab_id}}" title="Link zu Bruckner-Online-Werkverzeichnis">http://www.bruckner-online.at/wab-{{object.wab_id}}</a><br />
            Für Informationen zu Änderungen in der WAB-Systematik siehe <a href="http://www.bruckner-online.at/?page_id=1686">Konkordanz zwischen alten und neuen WAB-Nummern</a> auf <a href="http://www.bruckner-online.at">Bruckner-Online</a>
          </div>

           {% if user.is_authenticated %}
          <big>Datierung des Werkes:</big>
          <div class="date_written">
            <abbr title="{{ object.date }}">{{ object.date_written|safe }}</abbr>
          </div>
          {% endif %}

          {% if user.is_authenticated %}
            <big>Anmerkungen zum Werk:</big>
              <p>{{ object.note }}</p>  
            <big>Stand der Verlinkung zu Ereignissen:</big>
              <p>{{ object.status }}</p>
          {% endif %}
    </div>
        <div class="col-md-4">
           <legend>erwähnt in <strong>{{ object.rvn_wab_mentioned_in.all|length }}</strong> Ereignissen:</legend>
           {% for x in object.rvn_wab_mentioned_in.all %}
           <li>
             <a href="{{ x.get_absolute_url }}">{{ x.date_written }}</a>
           </li>
           {% endfor %}
        </div>
        letzte Änderung: {{ object.updated_at|date:"M d, Y, G:H" }}   
    </div>
    {% if user.is_authenticated %}
    <div class="card-footer" style="text-align: right;">
      <a href="{{ object.get_delete_url }}" title="delete">
        <i data-feather="delete"></i>
      </a>
    </div>
    {% endif %}

  </div>
</div>
{% endblock custom %}
{% endblock %}