__pycache__/
*.pyc

# sqlite
/*.sqlite3
/*.sqlite3-journal

# test coverage
.coverage
cover/
htmlcov/

cypress/
cypress.json

# IDE
.idea
.pip_cache

# Ipython Notebook checkpoints
.ipynb_checkpoints


# documentation build files

/docs/_*/*
node_modules

# virtual environments

/myenv
/env

# other things
.env
Untitled*.ipynb
env.secret
staticfiles
media/event_error.csv
media/work_error.csv
media/miss_matches.csv
env_production.secret
media/wab_matching.csv
key
key.pub
bin/
pg_hba.conf
lib64
*sql
/venv
.secret
