acdh-django-browsing==2.0
beautifulsoup4
crispy-bootstrap4>=2024.1
Django>=5.0.6,<6
django-ckeditor==6.2.0
django-extensions>=3.1.5
django-fixture-magic==0.1.5
django-gnd==0.3.0
django-next-prev==1.1.0
django-spaghetti-and-meatballs==0.4.2
djangorestframework
rdflib
tqdm
requests>=2.25
psycopg2-binary
pandas