<form method="get" action="{% url 'archiv:event_browse' %}">
    <div class="form-group">
      <label for="simple_search">Einfache Suche im Haupttext</label>
      <input type="input" class="form-control" id="simple_search" aria-describedby="emailHelp" placeholder="Richard Wagner" name="ft_search">
      <small id="simple_searchHelp" class="form-text text-muted">Beispiel: 'Richard Wagner' findet alle Datensätze, die 'Richard Wagner' im Haupttext enthalten, aber auch z.B. 'Richard Wagners Opern</small>
    </div>
    <button type="submit" class="btn btn-primary">Suchen</button>
  </form>