
<div style="padding-left: 10px;">
  {% if object.wab.all %}
    <legend>Bruckner Werke (WAB)</legend>
    <ul>
      {% for x in object.wab.all %}
        <li><a href="{{ x.get_absolute_url }}">{{ x }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if object.person.all %}
  <legend>Personen und Institutionen</legend>
  <ul>
    {% for x in object.person.all %}
      <li><a href="{{ x.get_absolute_url }}">{{ x }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
  {% if object.concept.all %}
    <legend>Schlagworte</legend>
    <ul>
      {% for x in object.concept.all %}
        <li><a href="{{ x.get_absolute_url }}">{{ x }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if object.place.all %}
  <legend>Orte</legend>
  <ul>
    {% for x in object.place.all %}
      <li><a href="{{ x.get_absolute_url }}">{{ x }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
</div>