{% extends "webpage/base.html" %}
{% load static %}
{% load webpage_extras %}
{% block content %}

<header class="masthead text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto" style="background-color: #1d82dcb8; padding-top:3em">
        <h1 class="mb-5">A B C D</h1>
        <h1 class="mb-5">{% projects_metadata 'title' %}</h1>
        <p>
          <small><a href="https://commons.wikimedia.org/wiki/File:A-Bruckner_B%C3%BCste.jpg" style="color: aliceblue;">Taglieber Christian Dr.</a>,
            <a href="https://creativecommons.org/licenses/by-sa/3.0/at/deed.en" style="color: aliceblue;">CC BY-SA 3.0 AT</a>, via Wikimedia Commons</small>
        </p>
      </div>
      {% include "archiv/search_form.html" %}
    </div>
  </div>
</header>

<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters justify-content-md-center">
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <p>
            Die ABCD bietet Ihnen die Möglichkeit, sämtliche biographisch erfassten Informationen zu Bruckners Leben und Werk in chronologischer Übersicht abzurufen. – Hinweise zur Benützung der Internet-Datenbank erhalten Sie unmittelbar bei der Datenbank-Suche; wenn Sie sich für den Aufbau der ABCD, die zur Verfügung stehenden Informationsmöglichkeiten und weitere Einzelheiten interessieren, lesen Sie bitte die <a href="{% url 'webpage:staticpage' template='hinweis-verfasser' %}">Hinweise des Verfassers</a>.
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}