{% extends "webpage/base.html" %}
{% load static %}
{% load webpage_extras %}
{% block content %}

<div style="padding-top: 2em;">
  <h1 style="text-align: center;">{% projects_metadata 'title' %}</h1>
      {% include "archiv/search_form.html" %}
    </div>
<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters justify-content-md-center">
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <p>
            Die ABCD bietet Ihnen die Möglichkeit, sämtliche biographisch erfassten Informationen zu Bruckners Leben und Werk in chronologischer Übersicht abzurufen. – Hinweise zur Benützung der Internet-Datenbank erhalten Sie unmittelbar bei der Datenbank-Suche; wenn Sie sich für den Aufbau der ABCD, die zur Verfügung stehenden Informationsmöglichkeiten und weitere Einzelheiten interessieren, lesen Sie bitte die <a href="{% url 'webpage:staticpage' template='hinweis-verfasser' %}">Hinweise des Verfassers</a>.
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}